In [ ]:
import fileinput 
for line in fileinput.input(files ='b_little_bit_of_everything.in'): 
    print(line)

In [1]:
f = open("e_many_teams.in", "r")
content = f.read()
content_list = content.splitlines()
f.close()

In [2]:
t = content_list[0]
t = t.split()
print(t)

['100000', '39748', '49195', '29832']

In [3]:
total_pizza=int(t[0])
t2=int(t[1])
t3=int(t[2])
t4=int(t[3])

In [4]:
no_of_ing=[]
ing=[]
ind=[]
tot_ing=[]

In [5]:
for i in range(1,len(content_list)):
    z=content_list[i].split()
    no_of_ing.append(int(z[0]))
    ing.append(sorted(z[1:]))
    for k in z[1:]:
        if k not in tot_ing:
            tot_ing.append(k)
    ind.append(i-1)

In [6]:
tot_ing

['n',
 'e',
 'g',
 'wb',
 'bc',
 'lc',
 'kc',
 'ld',
 'ib',
 'gb',
 'hc',
 'vc',
 'vd',
 'cc',
 'c',
 'u',
 'dc',
 'lb',
 'ic',
 'od',
 'kd',
 'fc',
 'hb',
 'tb',
 'db',
 'zb',
 'gd',
 'fd',
 'sd',
 'o',
 'q',
 'gc',
 'cb',
 'jd',
 'fb',
 'td',
 'rc',
 'i',
 'ab',
 'rd',
 'k',
 'b',
 'z',
 'cd',
 'd',
 'yb',
 'yc',
 'xc',
 'vb',
 'rb',
 'oc',
 'y',
 't',
 'f',
 'nd',
 'kb',
 'ec',
 'tc',
 'md',
 'qb',
 'mc',
 'xb',
 'zc',
 'ub',
 'sc',
 'ob',
 'jb',
 'ud',
 'dd',
 'mb',
 'j',
 's',
 'qd',
 'qc',
 'wc',
 'nb',
 'id',
 'l',
 'p',
 'r',
 'v',
 'hd',
 'pb',
 'bb',
 'ad',
 'x',
 'nc',
 'bd',
 'h',
 'pd',
 'm',
 'pc',
 'w',
 'sb',
 'eb',
 'uc',
 'jc',
 'ed',
 'a',
 'ac']

In [7]:
import pandas as pd

In [8]:
l=[]
for i in ing:
    l.append(tuple(i))

In [9]:
df2 = pd.DataFrame(list(zip(no_of_ing,l,ind)),columns=['no of ingredients','ingredients','pizza no'])

In [10]:
df2 = df2.sort_values(by=['no of ingredients'])
df1 = df2.groupby('ingredients')['pizza no'].apply(list).reset_index(name='pizza nos')
df1['no of ingredients'] = [len(x) for x in df1['ingredients']]
df1 = df1.sort_values(by=['no of ingredients'])
df1['frequency'] = [len(x) for x in df1['pizza nos']]
df1

,ingredients,pizza nos,no of ingredients,frequency
0,"(a,)","[46847, 46908, 47766, 47760, 45849, 45988, 455...",1,273
47268,"(h,)","[47223, 47279, 47618, 46504, 46117, 49252, 492...",1,234
47963,"(hb,)","[47213, 46844, 47719, 46138, 49591, 49755, 497...",1,250
48666,"(hc,)","[47722, 47879, 47460, 47466, 45519, 45684, 466...",1,240
49286,"(hd,)","[47244, 46801, 47781, 47425, 47571, 46400, 497...",1,256
...,...,...,...,...
3731,"(ab, ad, bc, c, cc, dd, fd, gb, gc, gd, ib, jb...",[61298],35,1
6598,"(ac, ad, b, bc, cc, cd, db, dc, e, ec, ed, f, ...",[24622],36,1
4731,"(ab, cc, db, dd, eb, ed, f, fb, fd, g, ic, jb,...",[70098],36,1
3720,"(ab, ad, bb, cc, e, f, fd, gc, h, hd, i, ic, j...",[82967],37,1
7199,"(ac, bc, cb, cc, d, dd, ec, ed, fc, g, gb, gc,...",[32085],38,1

In [11]:
df1=df1.reset_index()

In [12]:
df=df1.copy()
df

,index,ingredients,pizza nos,no of ingredients,frequency
0,0,"(a,)","[46847, 46908, 47766, 47760, 45849, 45988, 455...",1,273
1,47268,"(h,)","[47223, 47279, 47618, 46504, 46117, 49252, 492...",1,234
2,47963,"(hb,)","[47213, 46844, 47719, 46138, 49591, 49755, 497...",1,250
3,48666,"(hc,)","[47722, 47879, 47460, 47466, 45519, 45684, 466...",1,240
4,49286,"(hd,)","[47244, 46801, 47781, 47425, 47571, 46400, 497...",1,256
...,...,...,...,...,...
60510,3731,"(ab, ad, bc, c, cc, dd, fd, gb, gc, gd, ib, jb...",[61298],35,1
60511,6598,"(ac, ad, b, bc, cc, cd, db, dc, e, ec, ed, f, ...",[24622],36,1
60512,4731,"(ab, cc, db, dd, eb, ed, f, fb, fd, g, ic, jb,...",[70098],36,1
60513,3720,"(ab, ad, bb, cc, e, f, fd, gc, h, hd, i, ic, j...",[82967],37,1
60514,7199,"(ac, bc, cb, cc, d, dd, ec, ed, fc, g, gb, gc,...",[32085],38,1

## assumptions

### 1 delivery to team of 2 contains 2 pizzas, team of 3 is 3 and team of 4 is 4

In [13]:
d=t2+t3+t4
p=2*t2+3*t3+4*t4

In [14]:
import math
def wont_get_pizza(total_pizza,t2,t3,t4,p):
    t=total_pizza-p
    if t>=0:
        t2=t2-1
    else:
        t=abs(t)
        if t>4*t4:
            t=t-4*t4
            t4=0
            t3=math.floor((3*t3-t)/3)
        else:
            t4=math.floor((4*t4-t)/4)
    return t2,t3,t4

In [15]:
t2,t3,t4=wont_get_pizza(total_pizza,t2,t3,t4,p)
print(t2)
print(t3)
print(t4)
print(t2+t3+t4)
print(d)

39748
6834
0
46582
118775

In [16]:
def delivery2(t2,t3,t4,df):
    team=[]
    s=0
    i=0
    j=len(df)-1
    while(t2!=0):
        l=[]
        l.append(2)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        y=list(df['ingredients'][j])
        x.extend(y)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t2=t2-1
    k=i+1   
    while(t3!=0):
        l=[]
        l.append(3)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            l.append(df['pizza nos'][k].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        y=list(df['ingredients'][j])
        z.extend(y)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t3=t3-1
    g=k+1
    gg=g+1
    while(t4!=0):
        l=[]
        l.append(4)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            while(len(df['pizza nos'][k])==0):
                k=k+1
            l.append(df['pizza nos'][k].pop())
            
        if len(df['pizza nos'][g])>0:
            l.append(df['pizza nos'][g].pop())
        else:
            g=g+1
            while(len(df['pizza nos'][g])==0):
                g=g+1
            l.append(df['pizza nos'][g].pop())
            
        if len(df['pizza nos'][gg])>0:
            l.append(df['pizza nos'][gg].pop())
        else:
            gg=gg+1
            while(len(df['pizza nos'][gg])==0):
                gg=gg+1
            l.append(df['pizza nos'][gg].pop())
        
            
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             while(len(df['pizza nos'][j])==0):
#                 j=j-1
#             l.append(df['pizza nos'][j].pop())
            
#         if len(df['pizza nos'][g])>0:
#             l.append(df['pizza nos'][g].pop())
#         else:
#             g=g-1
#             while(len(df['pizza nos'][j])==0):
#                 g=g-1
#             l.append(df['pizza nos'][g].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        zz=list(df['ingredients'][g])
        y=list(df['ingredients'][gg])
        z.extend(y)
        x.extend(zz)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t4=t4-1
    return team, s

In [17]:
l1=[]
s=0
l1,s=delivery2(t2,t3,t4,df)
l1

IndexError: pop from empty list

In [30]:
s

6963

In [16]:
def delivery2(t2,t3,t4,df):
    team=[]
    s=0
    i=0
    j=len(df)-1
    while(t2!=0):
        l=[]
        l.append(2)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        y=list(df['ingredients'][j])
        x.extend(y)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t2=t2-1
    k=i+1   
    while(t3!=0):
        l=[]
        l.append(3)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            l.append(df['pizza nos'][k].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        y=list(df['ingredients'][j])
        z.extend(y)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t3=t3-1
    gg=j-1
    while(t4!=0):
        l=[]
        l.append(4)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            while(len(df['pizza nos'][k])==0):
                k=k+1
            l.append(df['pizza nos'][k].pop())
            
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            while(len(df['pizza nos'][j])==0):
                j=j-1
            l.append(df['pizza nos'][j].pop())
            
        if len(df['pizza nos'][gg])>0:
            l.append(df['pizza nos'][gg].pop())
        else:
            gg=gg-1
            while(len(df['pizza nos'][gg])==0):
                gg=gg-1
            l.append(df['pizza nos'][gg].pop())
        
            
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             while(len(df['pizza nos'][j])==0):
#                 j=j-1
#             l.append(df['pizza nos'][j].pop())
            
#         if len(df['pizza nos'][g])>0:
#             l.append(df['pizza nos'][g].pop())
#         else:
#             g=g-1
#             while(len(df['pizza nos'][j])==0):
#                 g=g-1
#             l.append(df['pizza nos'][g].pop())

        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        zz=list(df['ingredients'][j])
        y=list(df['ingredients'][gg])
        z.extend(y)
        x.extend(zz)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t4=t4-1
    return team, s

In [17]:
l1=[]
s=0
l1,s=delivery2(t2,t3,t4,df)
l1

IndexError: pop from empty list

In [51]:
s

7527