In [ ]:
import fileinput 
for line in fileinput.input(files ='b_little_bit_of_everything.in'): 
    print(line)

In [1]:
f = open("b_little_bit_of_everything.in", "r")
content = f.read()
content_list = content.splitlines()
f.close()

In [2]:
t = content_list[0]
t = t.split()
print(t)

['500', '65', '60', '60']

In [3]:
total_pizza=int(t[0])
t2=int(t[1])
t3=int(t[2])
t4=int(t[3])

In [4]:
no_of_ing=[]
ing=[]
ind=[]
tot_ing=[]

In [5]:
for i in range(1,len(content_list)):
    z=content_list[i].split()
    no_of_ing.append(int(z[0]))
    ing.append(sorted(z[1:]))
    for k in z[1:]:
        if k not in tot_ing:
            tot_ing.append(k)
    ind.append(i-1)

In [6]:
tot_ing

['mushrooms',
 'onions',
 'neapolitan-crust',
 'emmental-cheese',
 'cheddar',
 'tomatoes',
 'pineapple',
 'mozzarella',
 'basil',
 'ham']

In [7]:
import pandas as pd

In [8]:
l=[]
for i in ing:
    l.append(tuple(i))

In [21]:
df2 = pd.DataFrame(list(zip(no_of_ing,l,ind)),columns=['no of ingredients','ingredients','pizza no'])

In [22]:
df2 = df2.sort_values(by=['no of ingredients'])
df1 = df2.groupby('ingredients')['pizza no'].apply(list).reset_index(name='pizza nos')
df1['no of ingredients'] = [len(x) for x in df1['ingredients']]
df1 = df1.sort_values(by=['no of ingredients'])
df1['frequency'] = [len(x) for x in df1['pizza nos']]
df1

,ingredients,pizza nos,no of ingredients,frequency
0,"(basil,)","[150, 96, 246, 255, 191, 194, 205, 171, 51, 28...",1,18
217,"(pineapple,)","[316, 130, 131, 135, 232, 418, 313, 118, 183, ...",1,22
214,"(onions,)","[126, 238, 465, 314, 335, 323, 343, 169, 39, 3...",1,15
208,"(neapolitan-crust,)","[134, 140, 102, 457, 331, 176, 215, 157, 167, ...",1,15
200,"(mushrooms,)","[426, 458, 142, 312, 241, 173, 342, 481, 477, ...",1,18
...,...,...,...,...
3,"(basil, cheddar, emmental-cheese, ham, mozzare...",[300],9,1
24,"(basil, cheddar, ham, mozzarella, mushrooms, n...",[482],9,1
5,"(basil, cheddar, emmental-cheese, ham, mozzare...","[47, 12]",9,2
15,"(basil, cheddar, emmental-cheese, mozzarella, ...","[33, 165]",9,2
4,"(basil, cheddar, emmental-cheese, ham, mozzare...","[369, 196, 35, 333, 197, 93, 97, 423, 286, 420...",10,14

In [23]:
df1=df1.reset_index()

In [24]:
df=df1.copy()
df

,index,ingredients,pizza nos,no of ingredients,frequency
0,0,"(basil,)","[150, 96, 246, 255, 191, 194, 205, 171, 51, 28...",1,18
1,217,"(pineapple,)","[316, 130, 131, 135, 232, 418, 313, 118, 183, ...",1,22
2,214,"(onions,)","[126, 238, 465, 314, 335, 323, 343, 169, 39, 3...",1,15
3,208,"(neapolitan-crust,)","[134, 140, 102, 457, 331, 176, 215, 157, 167, ...",1,15
4,200,"(mushrooms,)","[426, 458, 142, 312, 241, 173, 342, 481, 477, ...",1,18
...,...,...,...,...,...
215,3,"(basil, cheddar, emmental-cheese, ham, mozzare...",[300],9,1
216,24,"(basil, cheddar, ham, mozzarella, mushrooms, n...",[482],9,1
217,5,"(basil, cheddar, emmental-cheese, ham, mozzare...","[47, 12]",9,2
218,15,"(basil, cheddar, emmental-cheese, mozzarella, ...","[33, 165]",9,2
219,4,"(basil, cheddar, emmental-cheese, ham, mozzare...","[369, 196, 35, 333, 197, 93, 97, 423, 286, 420...",10,14

## assumptions

### 1 delivery to team of 2 contains 2 pizzas, team of 3 is 3 and team of 4 is 4

In [13]:
d=t2+t3+t4
p=2*t2+3*t3+4*t4

In [14]:
def wont_get_pizza(p,total_pizza):
    if p>total_pizza:
        diff=p-total_pizza
        if diff%2==0:
            diff=diff/2
            return diff,2
        if diff%3==0:
            diff=diff/3
            return diff,3

In [15]:
w=wont_get_pizza(p,total_pizza)
w

(25.0, 2)

In [16]:
if w[1]==2:
    t2=t2-w[0]
if w[1]==3:
    t3=t3-w[0]

In [17]:
t2

40.0

In [25]:
def delivery2(t2,t3,t4,df):
    team=[]
    s=0
    i=0
    j=len(df)-1
    while(t2!=0):
        l=[]
        l.append(2)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        y=list(df['ingredients'][j])
        x.extend(y)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t2=t2-1
    k=i+1   
    while(t3!=0):
        l=[]
        l.append(3)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            l.append(df['pizza nos'][k].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        y=list(df['ingredients'][j])
        z.extend(y)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t3=t3-1
    g=k+1
    gg=g+1
    while(t4!=0):
        l=[]
        l.append(4)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            while(len(df['pizza nos'][k])==0):
                k=k+1
            l.append(df['pizza nos'][k].pop())
            
        if len(df['pizza nos'][g])>0:
            l.append(df['pizza nos'][g].pop())
        else:
            g=g+1
            while(len(df['pizza nos'][g])==0):
                g=g+1
            l.append(df['pizza nos'][g].pop())
            
        if len(df['pizza nos'][gg])>0:
            l.append(df['pizza nos'][gg].pop())
        else:
            gg=gg+1
            while(len(df['pizza nos'][gg])==0):
                gg=gg+1
            l.append(df['pizza nos'][gg].pop())
        
            
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             while(len(df['pizza nos'][j])==0):
#                 j=j-1
#             l.append(df['pizza nos'][j].pop())
            
#         if len(df['pizza nos'][g])>0:
#             l.append(df['pizza nos'][g].pop())
#         else:
#             g=g-1
#             while(len(df['pizza nos'][j])==0):
#                 g=g-1
#             l.append(df['pizza nos'][g].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        zz=list(df['ingredients'][g])
        y=list(df['ingredients'][gg])
        z.extend(y)
        x.extend(zz)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t4=t4-1
    return team, s

In [26]:
l1=[]
s=0
l1,s=delivery2(t2,t3,t4,df)
l1

[[2, 357, 190, 100],
 [2, 63, 28, 100],
 [2, 68, 252, 100],
 [2, 83, 441, 100],
 [2, 84, 420, 100],
 [2, 488, 286, 100],
 [2, 370, 423, 100],
 [2, 2, 97, 100],
 [2, 287, 93, 100],
 [2, 51, 197, 100],
 [2, 171, 333, 100],
 [2, 205, 35, 100],
 [2, 194, 196, 100],
 [2, 191, 369, 100],
 [2, 255, 165, 81],
 [2, 246, 33, 81],
 [2, 96, 12, 81],
 [2, 150, 47, 81],
 [2, 355, 482, 81],
 [2, 383, 300, 81],
 [2, 270, 326, 81],
 [2, 77, 14, 64],
 [2, 469, 21, 64],
 [2, 4, 279, 64],
 [2, 275, 1, 64],
 [2, 476, 315, 64],
 [2, 281, 322, 81],
 [2, 340, 306, 64],
 [2, 428, 299, 64],
 [2, 161, 421, 81],
 [2, 228, 256, 64],
 [2, 183, 454, 81],
 [2, 118, 330, 64],
 [2, 313, 189, 49],
 [2, 418, 414, 49],
 [2, 232, 358, 49],
 [2, 135, 492, 49],
 [2, 131, 7, 49],
 [2, 130, 17, 49],
 [2, 316, 86, 49],
 [3, 470, 257, 212, 64],
 [3, 262, 85, 334, 49],
 [3, 496, 374, 154, 49],
 [3, 39, 169, 352, 49],
 [3, 343, 323, 266, 36],
 [3, 335, 314, 72, 49],
 [3, 465, 238, 158, 36],
 [3, 126, 260, 73, 49],
 [3, 415, 485, 11, 36],
 [3, 368, 408, 410, 36],
 [3, 417, 167, 120, 36],
 [3, 157, 215, 484, 49],
 [3, 176, 331, 213, 36],
 [3, 457, 102, 301, 36],
 [3, 140, 134, 141, 36],
 [3, 309, 381, 319, 36],
 [3, 265, 382, 462, 49],
 [3, 74, 202, 337, 49],
 [3, 493, 297, 64, 49],
 [3, 305, 477, 495, 36],
 [3, 481, 342, 170, 36],
 [3, 173, 241, 182, 36],
 [3, 312, 142, 156, 49],
 [3, 458, 426, 443, 36],
 [3, 413, 398, 434, 25],
 [3, 290, 49, 155, 25],
 [3, 466, 30, 38, 36],
 [3, 321, 220, 350, 25],
 [3, 216, 440, 451, 25],
 [3, 179, 239, 166, 36],
 [3, 243, 349, 329, 25],
 [3, 145, 133, 48, 36],
 [3, 58, 82, 448, 25],
 [3, 75, 53, 463, 36],
 [3, 483, 489, 234, 36],
 [3, 9, 366, 486, 36],
 [3, 43, 42, 0, 36],
 [3, 406, 222, 452, 36],
 [3, 223, 456, 108, 36],
 [3, 227, 435, 371, 25],
 [3, 248, 122, 264, 25],
 [3, 127, 57, 113, 36],
 [3, 87, 471, 376, 36],
 [3, 416, 293, 261, 36],
 [3, 303, 37, 310, 36],
 [3, 253, 168, 111, 36],
 [3, 346, 344, 298, 36],
 [3, 338, 389, 475, 36],
 [3, 184, 178, 52, 36],
 [3, 354, 318, 210, 25],
 [3, 143, 317, 221, 25],
 [3, 67, 62, 219, 25],
 [3, 88, 491, 360, 25],
 [3, 487, 291, 240, 25],
 [3, 404, 308, 199, 16],
 [3, 296, 478, 187, 25],
 [3, 206, 209, 430, 16],
 [3, 211, 393, 19, 16],
 [3, 386, 98, 320, 16],
 [3, 125, 137, 273, 16],
 [4, 272, 380, 479, 29, 9],
 [4, 480, 94, 224, 244, 9],
 [4, 436, 402, 229, 390, 4],
 [4, 464, 110, 250, 365, 4],
 [4, 103, 327, 146, 359, 4],
 [4, 377, 461, 45, 50, 9],
 [4, 361, 80, 282, 274, 9],
 [4, 185, 32, 172, 144, 25],
 [4, 378, 226, 153, 363, 9],
 [4, 116, 25, 115, 41, 9],
 [4, 79, 69, 56, 259, 9],
 [4, 289, 22, 332, 92, 25],
 [4, 132, 119, 100, 325, 4],
 [4, 198, 395, 112, 490, 16],
 [4, 295, 81, 247, 204, 16],
 [4, 151, 379, 70, 233, 4],
 [4, 450, 494, 267, 138, 9],
 [4, 128, 245, 339, 106, 9],
 [4, 237, 195, 341, 372, 9],
 [4, 200, 284, 207, 148, 16],
 [4, 114, 160, 109, 107, 25],
 [4, 460, 44, 78, 285, 4],
 [4, 280, 124, 164, 186, 16],
 [4, 36, 54, 217, 411, 4],
 [4, 304, 446, 26, 425, 9],
 [4, 254, 136, 101, 432, 25],
 [4, 152, 174, 468, 401, 16],
 [4, 27, 59, 251, 129, 9],
 [4, 66, 269, 347, 104, 9],
 [4, 46, 16, 453, 40, 36],
 [4, 373, 76, 95, 307, 16],
 [4, 392, 328, 89, 180, 36],
 [4, 3, 472, 123, 422, 49],
 [4, 459, 348, 192, 230, 49],
 [4, 388, 24, 18, 149, 49],
 [4, 444, 442, 474, 353, 49],
 [4, 225, 139, 283, 467, 25],
 [4, 91, 437, 263, 294, 49],
 [4, 397, 242, 159, 302, 49],
 [4, 351, 431, 438, 391, 25],
 [4, 235, 8, 276, 163, 36],
 [4, 364, 23, 65, 400, 25],
 [4, 201, 427, 447, 384, 9],
 [4, 429, 412, 177, 10, 36],
 [4, 117, 394, 278, 99, 25],
 [4, 90, 203, 31, 449, 49],
 [4, 345, 497, 218, 403, 64],
 [4, 188, 375, 162, 407, 36],
 [4, 71, 214, 55, 13, 49],
 [4, 105, 362, 268, 336, 36],
 [4, 6, 399, 424, 121, 49],
 [4, 193, 473, 175, 445, 64],
 [4, 419, 385, 367, 455, 64],
 [4, 439, 288, 20, 387, 64],
 [4, 181, 311, 277, 5, 81],
 [4, 147, 409, 433, 356, 64],
 [4, 292, 236, 271, 34, 49],
 [4, 60, 208, 249, 15, 49],
 [4, 498, 258, 396, 61, 64],
 [4, 499, 324, 231, 405, 100]]

In [27]:
len(l1)

160

In [28]:
p

550

In [29]:
d

185

In [30]:
s

6963