In [ ]:
import fileinput 
for line in fileinput.input(files ='b_little_bit_of_everything.in'): 
    print(line)

In [28]:
f = open("b_little_bit_of_everything.in", "r")
content = f.read()
content_list = content.splitlines()
f.close()

In [29]:
t = content_list[0]
t = t.split()
print(t)

['500', '65', '60', '60']

In [30]:
total_pizza=int(t[0])
t2=int(t[1])
t3=int(t[2])
t4=int(t[3])

In [31]:
no_of_ing=[]
ing=[]
ind=[]
tot_ing=[]

In [32]:
for i in range(1,len(content_list)):
    z=content_list[i].split()
    no_of_ing.append(int(z[0]))
    ing.append(sorted(z[1:]))
    for k in z[1:]:
        if k not in tot_ing:
            tot_ing.append(k)
    ind.append(i-1)

In [33]:
tot_ing

['mushrooms',
 'onions',
 'neapolitan-crust',
 'emmental-cheese',
 'cheddar',
 'tomatoes',
 'pineapple',
 'mozzarella',
 'basil',
 'ham']

In [34]:
import pandas as pd

In [35]:
l=[]
for i in ing:
    l.append(tuple(i))

In [36]:
df2 = pd.DataFrame(list(zip(no_of_ing,l,ind)),columns=['no of ingredients','ingredients','pizza no'])

In [37]:
df2 = df2.sort_values(by=['no of ingredients'])
df1 = df2.groupby('ingredients')['pizza no'].apply(list).reset_index(name='pizza nos')
df1['no of ingredients'] = [len(x) for x in df1['ingredients']]
df1 = df1.sort_values(by=['no of ingredients'])
df1['frequency'] = [len(x) for x in df1['pizza nos']]
df1

,ingredients,pizza nos,no of ingredients,frequency
0,"(basil,)","[150, 96, 246, 255, 191, 194, 205, 171, 51, 28...",1,18
217,"(pineapple,)","[316, 130, 131, 135, 232, 418, 313, 118, 183, ...",1,22
214,"(onions,)","[126, 238, 465, 314, 335, 323, 343, 169, 39, 3...",1,15
208,"(neapolitan-crust,)","[134, 140, 102, 457, 331, 176, 215, 157, 167, ...",1,15
200,"(mushrooms,)","[426, 458, 142, 312, 241, 173, 342, 481, 477, ...",1,18
...,...,...,...,...
3,"(basil, cheddar, emmental-cheese, ham, mozzare...",[300],9,1
24,"(basil, cheddar, ham, mozzarella, mushrooms, n...",[482],9,1
5,"(basil, cheddar, emmental-cheese, ham, mozzare...","[47, 12]",9,2
15,"(basil, cheddar, emmental-cheese, mozzarella, ...","[33, 165]",9,2
4,"(basil, cheddar, emmental-cheese, ham, mozzare...","[369, 196, 35, 333, 197, 93, 97, 423, 286, 420...",10,14

In [38]:
df1=df1.reset_index()

In [39]:
df=df1.copy()
df

,index,ingredients,pizza nos,no of ingredients,frequency
0,0,"(basil,)","[150, 96, 246, 255, 191, 194, 205, 171, 51, 28...",1,18
1,217,"(pineapple,)","[316, 130, 131, 135, 232, 418, 313, 118, 183, ...",1,22
2,214,"(onions,)","[126, 238, 465, 314, 335, 323, 343, 169, 39, 3...",1,15
3,208,"(neapolitan-crust,)","[134, 140, 102, 457, 331, 176, 215, 157, 167, ...",1,15
4,200,"(mushrooms,)","[426, 458, 142, 312, 241, 173, 342, 481, 477, ...",1,18
...,...,...,...,...,...
215,3,"(basil, cheddar, emmental-cheese, ham, mozzare...",[300],9,1
216,24,"(basil, cheddar, ham, mozzarella, mushrooms, n...",[482],9,1
217,5,"(basil, cheddar, emmental-cheese, ham, mozzare...","[47, 12]",9,2
218,15,"(basil, cheddar, emmental-cheese, mozzarella, ...","[33, 165]",9,2
219,4,"(basil, cheddar, emmental-cheese, ham, mozzare...","[369, 196, 35, 333, 197, 93, 97, 423, 286, 420...",10,14

## assumptions

### 1 delivery to team of 2 contains 2 pizzas, team of 3 is 3 and team of 4 is 4

In [40]:
d=t2+t3+t4
p=2*t2+3*t3+4*t4

In [41]:
import math
def wont_get_pizza(total_pizza,t2,t3,t4,p):
    t=total_pizza-p
    if t>=0:
        t2=t2-1
    else:
        t=abs(t)
        if t>4*t4:
            t=t-4*t4
            t4=0
            t3=math.floor((3*t3-t)/3)
        else:
            t4=math.floor((4*t4-t)/4)
    return t2,t3,t4
                
            
#     if p>total_pizza:
#         diff=p-total_pizza
#         if diff%2==0:
#             diff=diff/2
#             return diff,2
#         if diff%3==0:
#             diff=diff/3
#             return diff,3

In [42]:
t2,t3,t4=wont_get_pizza(total_pizza,t2,t3,t4,p)
print(t2)
print(t3)
print(t4)
print(t2+t3+t4)
print(d)

65
60
47
172
185

In [25]:
# def delivery2(t2,t3,t4,df):
#     team=[]
#     s=0
#     i=0
#     j=len(df)-1
#     while(t2!=0):
#         l=[]
#         l.append(2)
#         if len(df['pizza nos'][i])>0:
#             l.append(df['pizza nos'][i].pop())
#         else:
#             i=i+1
#             l.append(df['pizza nos'][i].pop())
        
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             l.append(df['pizza nos'][j].pop())
#         x=list(df['ingredients'][i])
#         y=list(df['ingredients'][j])
#         x.extend(y)
#         x=set(x)
#         x=len(x)
#         l.append(x**2)
#         s=s+x**2
#         team.append(l)
#         t2=t2-1
#     k=i+1   
#     while(t3!=0):
#         l=[]
#         l.append(3)
#         if len(df['pizza nos'][i])>0:
#             l.append(df['pizza nos'][i].pop())
#         else:
#             i=i+1
#             while(len(df['pizza nos'][i])==0):
#                 i=i+1
#             l.append(df['pizza nos'][i].pop())
        
#         if len(df['pizza nos'][k])>0:
#             l.append(df['pizza nos'][k].pop())
#         else:
#             k=k+1
#             l.append(df['pizza nos'][k].pop())
        
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             l.append(df['pizza nos'][j].pop())
#         x=list(df['ingredients'][i])
#         z=list(df['ingredients'][k])
#         y=list(df['ingredients'][j])
#         z.extend(y)
#         x.extend(z)
#         x=set(x)
#         x=len(x)
#         l.append(x**2)
#         s=s+x**2
#         team.append(l)
#         t3=t3-1
#     g=k+1
#     gg=g+1
#     while(t4!=0):
#         l=[]
#         l.append(4)
#         if len(df['pizza nos'][i])>0:
#             l.append(df['pizza nos'][i].pop())
#         else:
#             i=i+1
#             while(len(df['pizza nos'][i])==0):
#                 i=i+1
#             l.append(df['pizza nos'][i].pop())
        
#         if len(df['pizza nos'][k])>0:
#             l.append(df['pizza nos'][k].pop())
#         else:
#             k=k+1
#             while(len(df['pizza nos'][k])==0):
#                 k=k+1
#             l.append(df['pizza nos'][k].pop())
            
#         if len(df['pizza nos'][g])>0:
#             l.append(df['pizza nos'][g].pop())
#         else:
#             g=g+1
#             while(len(df['pizza nos'][g])==0):
#                 g=g+1
#             l.append(df['pizza nos'][g].pop())
            
#         if len(df['pizza nos'][gg])>0:
#             l.append(df['pizza nos'][gg].pop())
#         else:
#             gg=gg+1
#             while(len(df['pizza nos'][gg])==0):
#                 gg=gg+1
#             l.append(df['pizza nos'][gg].pop())
        
            
# #         if len(df['pizza nos'][j])>0:
# #             l.append(df['pizza nos'][j].pop())
# #         else:
# #             j=j-1
# #             while(len(df['pizza nos'][j])==0):
# #                 j=j-1
# #             l.append(df['pizza nos'][j].pop())
            
# #         if len(df['pizza nos'][g])>0:
# #             l.append(df['pizza nos'][g].pop())
# #         else:
# #             g=g-1
# #             while(len(df['pizza nos'][j])==0):
# #                 g=g-1
# #             l.append(df['pizza nos'][g].pop())
#         x=list(df['ingredients'][i])
#         z=list(df['ingredients'][k])
#         zz=list(df['ingredients'][g])
#         y=list(df['ingredients'][gg])
#         z.extend(y)
#         x.extend(zz)
#         x.extend(z)
#         x=set(x)
#         x=len(x)
#         l.append(x**2)
#         s=s+x**2
#         team.append(l)
#         t4=t4-1
#     return team, s

In [26]:
l1=[]
s=0
l1,s=delivery2(t2,t3,t4,df)
l1

[[2, 357, 190, 100],
 [2, 63, 28, 100],
 [2, 68, 252, 100],
 [2, 83, 441, 100],
 [2, 84, 420, 100],
 [2, 488, 286, 100],
 [2, 370, 423, 100],
 [2, 2, 97, 100],
 [2, 287, 93, 100],
 [2, 51, 197, 100],
 [2, 171, 333, 100],
 [2, 205, 35, 100],
 [2, 194, 196, 100],
 [2, 191, 369, 100],
 [2, 255, 165, 81],
 [2, 246, 33, 81],
 [2, 96, 12, 81],
 [2, 150, 47, 81],
 [2, 355, 482, 81],
 [2, 383, 300, 81],
 [2, 270, 326, 81],
 [2, 77, 14, 64],
 [2, 469, 21, 64],
 [2, 4, 279, 64],
 [2, 275, 1, 64],
 [2, 476, 315, 64],
 [2, 281, 322, 81],
 [2, 340, 306, 64],
 [2, 428, 299, 64],
 [2, 161, 421, 81],
 [2, 228, 256, 64],
 [2, 183, 454, 81],
 [2, 118, 330, 64],
 [2, 313, 189, 49],
 [2, 418, 414, 49],
 [2, 232, 358, 49],
 [2, 135, 492, 49],
 [2, 131, 7, 49],
 [2, 130, 17, 49],
 [2, 316, 86, 49],
 [2, 470, 212, 64],
 [2, 257, 334, 49],
 [2, 262, 154, 49],
 [2, 85, 352, 49],
 [2, 496, 266, 36],
 [2, 374, 72, 49],
 [2, 39, 158, 36],
 [2, 169, 73, 49],
 [2, 343, 11, 49],
 [2, 323, 410, 36],
 [2, 335, 120, 49],
 [2, 314, 484, 49],
 [2, 465, 213, 49],
 [2, 238, 301, 49],
 [2, 126, 141, 36],
 [2, 260, 319, 36],
 [2, 415, 462, 36],
 [2, 485, 337, 36],
 [2, 368, 64, 49],
 [2, 408, 495, 49],
 [2, 417, 170, 36],
 [2, 167, 182, 49],
 [2, 157, 156, 36],
 [2, 215, 443, 49],
 [2, 176, 434, 36],
 [3, 331, 309, 155, 36],
 [3, 457, 381, 38, 36],
 [3, 102, 265, 350, 36],
 [3, 140, 382, 451, 36],
 [3, 134, 74, 166, 36],
 [3, 202, 493, 329, 36],
 [3, 297, 305, 48, 25],
 [3, 477, 481, 448, 25],
 [3, 342, 173, 463, 36],
 [3, 241, 312, 234, 36],
 [3, 142, 458, 486, 36],
 [3, 426, 413, 0, 36],
 [3, 398, 290, 452, 25],
 [3, 49, 466, 108, 36],
 [3, 30, 321, 371, 36],
 [3, 220, 216, 264, 25],
 [3, 440, 179, 113, 36],
 [3, 239, 243, 376, 36],
 [3, 349, 145, 261, 36],
 [3, 133, 58, 310, 36],
 [3, 82, 75, 111, 25],
 [3, 53, 483, 298, 25],
 [3, 489, 9, 475, 25],
 [3, 366, 43, 52, 25],
 [3, 42, 406, 210, 36],
 [3, 222, 223, 221, 36],
 [3, 456, 227, 219, 25],
 [3, 435, 248, 360, 16],
 [3, 122, 127, 240, 25],
 [3, 57, 87, 199, 16],
 [3, 471, 416, 187, 16],
 [3, 293, 303, 430, 25],
 [3, 37, 253, 19, 25],
 [3, 168, 346, 320, 25],
 [3, 344, 338, 273, 16],
 [3, 389, 184, 405, 16],
 [3, 178, 354, 231, 25],
 [3, 318, 143, 324, 25],
 [3, 317, 67, 499, 36],
 [3, 62, 88, 61, 16],
 [3, 491, 487, 396, 16],
 [3, 291, 404, 258, 25],
 [3, 308, 296, 15, 16],
 [3, 478, 206, 498, 16],
 [3, 209, 211, 208, 25],
 [3, 393, 386, 249, 25],
 [3, 98, 125, 34, 25],
 [3, 137, 272, 60, 25],
 [3, 380, 479, 271, 16],
 [3, 480, 94, 236, 16],
 [3, 224, 436, 292, 16],
 [3, 402, 229, 356, 25],
 [3, 464, 110, 433, 25],
 [3, 250, 103, 409, 16],
 [3, 327, 146, 147, 25],
 [3, 29, 244, 5, 36],
 [3, 390, 365, 277, 36],
 [3, 359, 377, 311, 25],
 [3, 461, 45, 181, 25],
 [3, 50, 361, 387, 36],
 [4, 80, 282, 274, 185, 9],
 [4, 32, 172, 144, 378, 25],
 [4, 226, 153, 363, 116, 25],
 [4, 25, 115, 41, 79, 9],
 [4, 69, 56, 259, 289, 4],
 [4, 22, 332, 92, 132, 16],
 [4, 119, 100, 325, 198, 9],
 [4, 395, 112, 490, 295, 36],
 [4, 81, 247, 204, 151, 16],
 [4, 379, 70, 233, 450, 9],
 [4, 494, 267, 138, 128, 9],
 [4, 245, 339, 106, 237, 9],
 [4, 195, 341, 372, 200, 9],
 [4, 284, 207, 148, 114, 16],
 [4, 160, 109, 107, 460, 25],
 [4, 44, 78, 285, 280, 4],
 [4, 124, 164, 186, 36, 9],
 [4, 54, 217, 411, 304, 16],
 [4, 446, 26, 425, 254, 4],
 [4, 136, 101, 432, 152, 36],
 [4, 174, 468, 401, 27, 16],
 [4, 59, 251, 129, 66, 9],
 [4, 269, 347, 104, 46, 9],
 [4, 16, 453, 40, 373, 16],
 [4, 76, 95, 307, 392, 36],
 [4, 328, 89, 180, 3, 49],
 [4, 472, 123, 422, 459, 36],
 [4, 348, 192, 230, 388, 16],
 [4, 24, 18, 149, 444, 49],
 [4, 442, 474, 353, 225, 64],
 [4, 139, 283, 467, 91, 16],
 [4, 437, 263, 294, 397, 36],
 [4, 242, 159, 302, 351, 64],
 [4, 431, 438, 391, 235, 36],
 [4, 8, 276, 163, 364, 9],
 [4, 23, 65, 400, 201, 25],
 [4, 427, 447, 384, 429, 25],
 [4, 412, 177, 10, 117, 64],
 [4, 394, 278, 99, 90, 36],
 [4, 203, 31, 449, 345, 36],
 [4, 497, 218, 403, 188, 49],
 [4, 375, 162, 407, 71, 36],
 [4, 214, 55, 13, 105, 49],
 [4, 362, 268, 336, 6, 25],
 [4, 399, 424, 121, 193, 49],
 [4, 473, 175, 445, 419, 64],
 [4, 385, 367, 455, 439, 64]]

In [27]:
s

7142

In [43]:
def delivery2(t2,t3,t4,df):
    team=[]
    s=0
    i=0
    j=len(df)-1
    while(t2!=0):
        l=[]
        l.append(2)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        y=list(df['ingredients'][j])
        x.extend(y)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t2=t2-1
    k=i+1   
    while(t3!=0):
        l=[]
        l.append(3)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            l.append(df['pizza nos'][k].pop())
        
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            l.append(df['pizza nos'][j].pop())
        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        y=list(df['ingredients'][j])
        z.extend(y)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t3=t3-1
    gg=j-1
    while(t4!=0):
        l=[]
        l.append(4)
        if len(df['pizza nos'][i])>0:
            l.append(df['pizza nos'][i].pop())
        else:
            i=i+1
            while(len(df['pizza nos'][i])==0):
                i=i+1
            l.append(df['pizza nos'][i].pop())
        
        if len(df['pizza nos'][k])>0:
            l.append(df['pizza nos'][k].pop())
        else:
            k=k+1
            while(len(df['pizza nos'][k])==0):
                k=k+1
            l.append(df['pizza nos'][k].pop())
            
        if len(df['pizza nos'][j])>0:
            l.append(df['pizza nos'][j].pop())
        else:
            j=j-1
            while(len(df['pizza nos'][j])==0):
                j=j-1
            l.append(df['pizza nos'][j].pop())
            
        if len(df['pizza nos'][gg])>0:
            l.append(df['pizza nos'][gg].pop())
        else:
            gg=gg-1
            while(len(df['pizza nos'][gg])==0):
                gg=gg-1
            l.append(df['pizza nos'][gg].pop())
        
            
#         if len(df['pizza nos'][j])>0:
#             l.append(df['pizza nos'][j].pop())
#         else:
#             j=j-1
#             while(len(df['pizza nos'][j])==0):
#                 j=j-1
#             l.append(df['pizza nos'][j].pop())
            
#         if len(df['pizza nos'][g])>0:
#             l.append(df['pizza nos'][g].pop())
#         else:
#             g=g-1
#             while(len(df['pizza nos'][j])==0):
#                 g=g-1
#             l.append(df['pizza nos'][g].pop())

        x=list(df['ingredients'][i])
        z=list(df['ingredients'][k])
        zz=list(df['ingredients'][j])
        y=list(df['ingredients'][gg])
        z.extend(y)
        x.extend(zz)
        x.extend(z)
        x=set(x)
        x=len(x)
        l.append(x**2)
        s=s+x**2
        team.append(l)
        t4=t4-1
    return team, s

In [44]:
l1=[]
s=0
l1,s=delivery2(t2,t3,t4,df)
l1

[[2, 357, 190, 100],
 [2, 63, 28, 100],
 [2, 68, 252, 100],
 [2, 83, 441, 100],
 [2, 84, 420, 100],
 [2, 488, 286, 100],
 [2, 370, 423, 100],
 [2, 2, 97, 100],
 [2, 287, 93, 100],
 [2, 51, 197, 100],
 [2, 171, 333, 100],
 [2, 205, 35, 100],
 [2, 194, 196, 100],
 [2, 191, 369, 100],
 [2, 255, 165, 81],
 [2, 246, 33, 81],
 [2, 96, 12, 81],
 [2, 150, 47, 81],
 [2, 355, 482, 81],
 [2, 383, 300, 81],
 [2, 270, 326, 81],
 [2, 77, 14, 64],
 [2, 469, 21, 64],
 [2, 4, 279, 64],
 [2, 275, 1, 64],
 [2, 476, 315, 64],
 [2, 281, 322, 81],
 [2, 340, 306, 64],
 [2, 428, 299, 64],
 [2, 161, 421, 81],
 [2, 228, 256, 64],
 [2, 183, 454, 81],
 [2, 118, 330, 64],
 [2, 313, 189, 49],
 [2, 418, 414, 49],
 [2, 232, 358, 49],
 [2, 135, 492, 49],
 [2, 131, 7, 49],
 [2, 130, 17, 49],
 [2, 316, 86, 49],
 [2, 470, 212, 64],
 [2, 257, 334, 49],
 [2, 262, 154, 49],
 [2, 85, 352, 49],
 [2, 496, 266, 36],
 [2, 374, 72, 49],
 [2, 39, 158, 36],
 [2, 169, 73, 49],
 [2, 343, 11, 49],
 [2, 323, 410, 36],
 [2, 335, 120, 49],
 [2, 314, 484, 49],
 [2, 465, 213, 49],
 [2, 238, 301, 49],
 [2, 126, 141, 36],
 [2, 260, 319, 36],
 [2, 415, 462, 36],
 [2, 485, 337, 36],
 [2, 368, 64, 49],
 [2, 408, 495, 49],
 [2, 417, 170, 36],
 [2, 167, 182, 49],
 [2, 157, 156, 36],
 [2, 215, 443, 49],
 [2, 176, 434, 36],
 [3, 331, 309, 155, 36],
 [3, 457, 381, 38, 36],
 [3, 102, 265, 350, 36],
 [3, 140, 382, 451, 36],
 [3, 134, 74, 166, 36],
 [3, 202, 493, 329, 36],
 [3, 297, 305, 48, 25],
 [3, 477, 481, 448, 25],
 [3, 342, 173, 463, 36],
 [3, 241, 312, 234, 36],
 [3, 142, 458, 486, 36],
 [3, 426, 413, 0, 36],
 [3, 398, 290, 452, 25],
 [3, 49, 466, 108, 36],
 [3, 30, 321, 371, 36],
 [3, 220, 216, 264, 25],
 [3, 440, 179, 113, 36],
 [3, 239, 243, 376, 36],
 [3, 349, 145, 261, 36],
 [3, 133, 58, 310, 36],
 [3, 82, 75, 111, 25],
 [3, 53, 483, 298, 25],
 [3, 489, 9, 475, 25],
 [3, 366, 43, 52, 25],
 [3, 42, 406, 210, 36],
 [3, 222, 223, 221, 36],
 [3, 456, 227, 219, 25],
 [3, 435, 248, 360, 16],
 [3, 122, 127, 240, 25],
 [3, 57, 87, 199, 16],
 [3, 471, 416, 187, 16],
 [3, 293, 303, 430, 25],
 [3, 37, 253, 19, 25],
 [3, 168, 346, 320, 25],
 [3, 344, 338, 273, 16],
 [3, 389, 184, 405, 16],
 [3, 178, 354, 231, 25],
 [3, 318, 143, 324, 25],
 [3, 317, 67, 499, 36],
 [3, 62, 88, 61, 16],
 [3, 491, 487, 396, 16],
 [3, 291, 404, 258, 25],
 [3, 308, 296, 15, 16],
 [3, 478, 206, 498, 16],
 [3, 209, 211, 208, 25],
 [3, 393, 386, 249, 25],
 [3, 98, 125, 34, 25],
 [3, 137, 272, 60, 25],
 [3, 380, 479, 271, 16],
 [3, 480, 94, 236, 16],
 [3, 224, 436, 292, 16],
 [3, 402, 229, 356, 25],
 [3, 464, 110, 433, 25],
 [3, 250, 103, 409, 16],
 [3, 327, 146, 147, 25],
 [3, 29, 244, 5, 36],
 [3, 390, 365, 277, 36],
 [3, 359, 377, 311, 25],
 [3, 461, 45, 181, 25],
 [3, 50, 361, 387, 36],
 [4, 80, 282, 20, 288, 36],
 [4, 274, 185, 439, 455, 64],
 [4, 32, 172, 367, 385, 49],
 [4, 144, 378, 419, 445, 64],
 [4, 226, 153, 175, 473, 49],
 [4, 363, 116, 193, 121, 64],
 [4, 25, 115, 424, 399, 36],
 [4, 41, 79, 6, 268, 25],
 [4, 69, 56, 336, 362, 25],
 [4, 259, 289, 105, 13, 49],
 [4, 22, 332, 55, 214, 49],
 [4, 92, 132, 71, 407, 64],
 [4, 119, 100, 375, 162, 25],
 [4, 325, 198, 403, 188, 36],
 [4, 395, 112, 218, 497, 36],
 [4, 490, 295, 345, 31, 49],
 [4, 81, 247, 449, 203, 49],
 [4, 204, 151, 90, 278, 64],
 [4, 379, 70, 99, 117, 49],
 [4, 233, 450, 394, 10, 49],
 [4, 494, 267, 429, 412, 25],
 [4, 138, 128, 177, 201, 36],
 [4, 245, 339, 427, 447, 36],
 [4, 106, 237, 384, 23, 49],
 [4, 195, 341, 65, 400, 16],
 [4, 372, 200, 8, 276, 25],
 [4, 284, 207, 163, 364, 25],
 [4, 148, 114, 235, 431, 49],
 [4, 160, 109, 438, 391, 25],
 [4, 107, 460, 351, 302, 64],
 [4, 44, 78, 159, 242, 64],
 [4, 285, 280, 294, 397, 25],
 [4, 124, 164, 263, 437, 25],
 [4, 186, 36, 283, 467, 25],
 [4, 54, 217, 91, 139, 25],
 [4, 411, 304, 225, 353, 64],
 [4, 446, 26, 474, 149, 36],
 [4, 425, 254, 444, 442, 16],
 [4, 136, 101, 18, 24, 64],
 [4, 432, 152, 192, 230, 49],
 [4, 174, 468, 388, 348, 49],
 [4, 401, 27, 422, 459, 16],
 [4, 59, 251, 123, 472, 36],
 [4, 129, 66, 3, 180, 36],
 [4, 269, 347, 89, 392, 36],
 [4, 104, 46, 328, 95, 49],
 [4, 16, 453, 307, 40, 36]]

In [45]:
s

7796